@main("Harrington Region") {

<div class="container">
    <div class="row">
        <div class="span2">
            <div class="page-header">Harrington Region</div>
        </div>
        <div class="span2">
            <img class="img-rounded"
                 style="height: 75px; width:75px;"
                 src="@routes.Assets.at("images/newGrayson.png")">
        </div>
        <div class="span2">
            <button id="fetchData" class="btn btn-large">
                <i class="icon-refresh"></i> update
            </button>
        </div>
        <div class="span2">
            <button class="btn btn-large"><i class="icon-star"></i>
                <a href="/sensor/6140/12046/5be50dc4-f2f4-85ed-e45a-401978ebfcd8">
                    proxied data
                </a>
            </button>
        </div>
        <div class="span2">
            <button class="btn  btn-large"><i class="icon-star"></i>
                <a href="http://sim6140.agni.lindenlab.com:12046/cap/5be50dc4-f2f4-85ed-e45a-401978ebfcd8">
                    sensor direct
                </a>
            </button>
        </div>
    </div>
</div>

<div id="data"></div>
<!--
<div id="status legend" style="width: 80%">
    <table class="table table-striped tabled-bordered">
        <caption>Avatar status icon legend</caption>
        <tr>
            <td><i class="icon-share-alt"></i></td>
            <td title="AGENT_ALWAYS_RUN (0x1000)">has "Always Run" enabled; using tap-tap-hold</td>
            <td><i class="icon-tag"></i></td>
            <td title="AGENT_ATTACHMENTS(0x0002)">has attachments</td>
            <td><i class="icon-plane icon-white" style="background-color:black"></i></td>
            <td title="AGENT_AUTOPILOT (0x2000)">is in "autopilot" mode</td>
        </tr>
        <tr>
            <td><i class="icon-eye-close"></i></td>
            <td title="AGENT_AWAY (0x0040)">is in "away" mode</td>
            <td><i class="icon-time"></i></td>
            <td title="AGENT_BUSY (0x0800)">is in "busy" mode</td>
            <td><i class="icon-chevron-down"></i></td>
            <td title="AGENT_CROUCHING (0x0400)">is crouching</td>
        </tr>
        <tr>
            <td><i class="icon-plane"></i></td>
            <td title="AGENT_FLYING (0x0001)">is flying or hovering</td>
            <td><i class="icon-arrow-up"></i></td>
            <td title="AGENT_IN_AIR (0x0100)">is in the air (jumping, flying or falling)</td>
            <td><i class="icon-eye-open"></i></td>
            <td title="AGENT_MOUSELOOK (0x0008)">is in mouselook</td>
        </tr>
        <tr>
            <td><i class="icon-arrow-down icon-white" style="background-color:black"></i></td>
            <td title="AGENT_ON_OBJECT (0x0020)">is sitting on an object (and linked to it)</td>
            <td><i class="icon-file"></i></td>
            <td title="AGENT_SCRIPTED (0x0004)">has scripted attachments</td>
            <td><i class="icon-arrow-down"></i></td>
            <td title="AGENT_SITTING (0x0010)">is sitting</td>
        </tr>
        <tr>
            <td><i class="icon-comment"></i></td>
            <td title="AGENT_TYPING (0x0200)">is typing</td>
            <td><i class="icon-arrow-right"></i></td>
            <td title="AGENT_WALKING (0x0080)">is walking running or crouch walking</td>
        </tr>
    </table>
</div>
-->

<script type="text/javascript">
    $('#fetchData').click(function (evt) {
        $('#errors').hide();
        $.ajax({
            type: 'GET',
            url: "/sensor/6140/12046/5be50dc4-f2f4-85ed-e45a-401978ebfcd8",
            success: function (data) {
                $('#data').html(showsensor(data));
            },
            error: function (data) {
                alert("oops:" + data);
            }
        });
        return false;
    });
</script>

}