@main("Harrington Region") {

<div class="container">
    <div class="row">
        <div class="span2">
            <div class="page-header">Harrington Region</div>
        </div>
        <div class="span2">
            <img class="img-rounded" style="height: 75px; width:75px;" src="@routes.Assets.at("images/newGrayson.png")">
        </div>
    </div>
    <div class="row">
            <div class="span10">
                <button id="fetchData" class="btn btn-large"><i class="icon-retweet"></i> update sensor data</button>
                <button class="btn btn-large"><i class="icon-star"></i><a
                        href="/sensor/6140/12046/70f8eb94-75f3-2198-19ad-caf4aff996b3">raw sensor data through proxy</a>
                </button>
                <button class="btn  btn-large"><i class="icon-star"></i><a
                        href="http://sim6140.agni.lindenlab.com:12046/cap/70f8eb94-75f3-2198-19ad-caf4aff996b3">data
                    direct from sensor</a></button>
            </div>
    </div>
</div>

<div id="data"></div>
<script type="text/javascript">
    $('#fetchData').click(function (evt) {
        $('#errors').hide();
        $.ajax({
            type: 'GET',
            url: "/sensor/6140/12046/70f8eb94-75f3-2198-19ad-caf4aff996b3",
            success: function (data) {
                $('#data').html(showsensor(data));
            },
            error: function (data) {
                alert("oops:" + data);
            }
        });
        return false;
    });
</script>

}